<h1> This is the about page </h1>
<p> this is just a rails Doodles page, where i am practicing my skills creating websites</p>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br> Odit placeat assumenda recusandae fugit sed cum dolore quae iusto beatae eum, minima ullam nisi numquam alias exercitationem optio quibusdam, ut perspiciatis.</p>
<ul>
<li>1. thank you for visiting</li>
<li>2. email me at aniss.marrouch@gmail.com</li>
</ul>